<launch>
    <arg name="ns"              default="robot_0" />
    <arg name="twist_marker"    default="false" />
    
    <!-- Multiplex to handle different cmd_vel input -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" ns="$(arg ns)" >
        <rosparam command="load" file="$(find control)/param/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="cmd_vel" />
    </node>
    
    <!-- Create a control marker for manual control using RVIZ. -->
    <group if="$(arg twist_marker)" >
        <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" ns="$(arg ns)" >
            <param name="link_name" value="$(arg ns)/base_link" />
        </node> 
    </group>
    
    <!-- <include file="$(find localization)/launch/ekf_localization.launch" >
        <arg name="ns"  value="$(arg ns)" />
    </include> -->

</launch>
