<launch>

    <!-- Gazebo parameters -->
    <arg name="use_sim_time"    default="true" />
    <arg name="gui"             default="true" />
    <arg name="headless"        default="false" />
    <arg name="debug"           default="false" />
    <arg name="paused"          default="false" />
    <arg name="world_name"      default="$(find simulation)/worlds/dund_miff.world" />

    <!-- Robot parameters -->
    <arg name="ns_1"              default="robot_1" />
    <arg name="x_1"               default="-12" />
    <arg name="y_1"               default="-2" />
    <arg name="Y_1"               default="0" />

    <!-- Robot 2 parameters -->
    <arg name="ns_2"              default="robot_2" />
    <arg name="x_2"               default="-12" />
    <arg name="y_2"               default="-3" />
    <arg name="Y_2"               default="0" />

    <!-- Map file -->
    <arg name="map_file"        default="$(find mapping)/map/dund_miff_map.yaml" />

    <!-- Launch the map server -->
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_file)"/>

    <!-- <node name="map_custom" pkg="my_package" type="marker_maker.py" output="screen"/> -->

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="debug"           value="$(arg debug)" />
        <arg name="gui"             value="$(arg gui)" />
        <arg name="use_sim_time"    value="$(arg use_sim_time)" />
        <arg name="headless"        value="$(arg headless)" />
        <arg name="world_name"      value="$(arg world_name)" />
        <arg name="paused"          value="$(arg paused)" />
    </include>

    <!-- Launch Robot 1-->
    <include file="$(find my_robot)/launch/robot_spawner_simple.launch" >
        <arg name="ns"              value="$(arg ns_1)" />
        <arg name="x"               value="$(arg x_1)" />
        <arg name="y"               value="$(arg y_1)" />
        <arg name="Y"               value="$(arg Y_1)" />
    </include>

    <!-- Launch Robot 2-->
    <include file="$(find my_robot)/launch/robot_spawner_simple.launch" >
        <arg name="ns"              value="$(arg ns_2)" />
        <arg name="x"               value="$(arg x_2)" />
        <arg name="y"               value="$(arg y_2)" />
        <arg name="Y"               value="$(arg Y_2)" />
    </include>

    <!-- Changed cells union node -->
    <node pkg="map_change_detection" type="changed_cells_union.py" name="changed_cells_union" >
        <param name="n_robot"   value="2" />
    </node>

    <!-- Update map node -->
    <node pkg="map_change_detection" type="map_change_detection_processer_node" name="updated_map_processer" output="screen">
        <param name="map_topic"             value="/map" />
        <param name="processed_map_topic"   value="/processed_map" />
        <param name="changed_cells_topic"   value="/total_changed_cells" />
    </node>


    <!-- Launch rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find simulation)/rviz_config/one_robot_map_update_check.rviz"/>

</launch>   