<launch>
    <!-- Global parameters -->
    <rosparam   file="$(find simulation)/config/shared_info_second_squad.yaml" command="load" />
    <rosparam   file="$(find simulation)/config/circles.yaml" command="load" param="circles" />

    <node pkg="my_package" type="central_node.py" name="central_node" output="screen" />

    <node pkg="my_package" type="second_squad_node.py" name="agent" output="screen" ns="robot_1"/>
    <node pkg="my_package" type="second_squad_node.py" name="agent" output="screen" ns="robot_2"/>
    <node pkg="my_package" type="second_squad_node.py" name="agent" output="screen" ns="robot_3"/>

</launch>