<launch>
    <rosparam   file="$(find my_package)/config/shared_info.yaml" command="load" />

    <arg name="x_1"   default="0" />
    <arg name="y_1"   default="0" />
    <arg name="Y_1"   default="0" />

    <arg name="x_2"   default="-2" />
    <arg name="y_2"   default="0" />
    <arg name="Y_2"   default="0" />  

    <arg name="x_3"   default="2" />
    <arg name="y_3"   default="0" />
    <arg name="Y_3"   default="0" />

    <arg name="x_4"   default="4" />
    <arg name="y_4"   default="0" />
    <arg name="Y_4"   default="0" />

    <node name="waypoint_assignment" pkg="my_package" type="waypoint_with_service.py" ns="robot_1" output="screen">
        <param name="x" value="$(arg x_1)" />
        <param name="y" value="$(arg y_1)" />
        <param name="Y" value="$(arg Y_1)" />
    </node>
    
    <node name="waypoint_assignment" pkg="my_package" type="waypoint_with_service.py" ns="robot_2" output="screen">
        <param name="x" value="$(arg x_2)" />
        <param name="y" value="$(arg y_2)" />
        <param name="Y" value="$(arg Y_2)" />
    </node>

    <node name="waypoint_assignment" pkg="my_package" type="waypoint_with_service.py" ns="robot_3" output="screen">
        <param name="x" value="$(arg x_3)" />
        <param name="y" value="$(arg y_3)" />
        <param name="Y" value="$(arg Y_3)" />
    </node>

    <node name="waypoint_assignment" pkg="my_package" type="waypoint_with_service.py" ns="robot_4" output="screen">
        <param name="x" value="$(arg x_4)" />
        <param name="y" value="$(arg y_4)" />
        <param name="Y" value="$(arg Y_4)" />
    </node>

    <!-- <node name="waypoint_assignment" pkg="my_package" type="waypoint_assignment.py" ns="robot_1" >
        <param name="x" value="$(arg x_1)" />
        <param name="y" value="$(arg y_1)" />
        <param name="Y" value="$(arg Y_1)" />
    </node> -->

    <!-- <node name="waypoint_assignment" pkg="my_package" type="waypoint_assignment.py" ns="robot_2" >
        <param name="x" value="$(arg x_2)" />
        <param name="y" value="$(arg y_2)" />
        <param name="Y" value="$(arg Y_2)" />
    </node> -->

    <!-- <node name="waypoint_assignment" pkg="my_package" type="Waypoint_assignment_test.py" ns="robot_1">
        <param name="x" value="1" />
    </node> -->

    <!-- <node name="waypoint_assignment" pkg="my_package" type="Waypoint_assignment_test.py" ns="robot_2">
        <param name="x" value="1" />
    </node> -->
    
    <!-- <node name="waypoint_assignment" pkg="my_package" type="Waypoint_assignment_test.py" ns="robot_3">
        <param name="x" value="1" />
    </node> -->
</launch>